.parenDivOfEachStudentTable{
    display: grid;
    width: 100%;
    gap:10px;
    grid-template-columns: repeat(2,1fr);
    overflow-x: scroll;
}

.eachCard{
    width: 100%;
}

.assignmentInputmaindiv{
    width:80%;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);

}

.selection{
  width: 100%;
}
.add-new-request{
 
}
.eachCardParentDiv{
display: grid;
grid-template-columns: repeat(4,1fr);
gap:10px;
}
/* Extra small devices (phones) */
@media (max-width: 575.98px) {
    /* Styles for mobile devices */
    .parenDivOfEachStudentTable{
       grid-template-columns: repeat(1,1fr);
    }

   .tableofstudentdata{
    width: auto;
   
   }
   .assignmentInputmaindiv{
  
    grid-template-columns: repeat(1,1fr);
  
}
.eachCardParentDiv{
   
  grid-template-columns: repeat(1,1fr);

}
}
.eachrequestcard{
  width: 100%;
}
  /* Small devices (tablets) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    /* Styles for tablets */
    .parenDivOfEachStudentTable{
        grid-template-columns: repeat(1,1fr);
     }
     .assignmentInputmaindiv{
  margin: auto;
        grid-template-columns: repeat(2,1fr);
      
    }
    .eachCardParentDiv{
   
      grid-template-columns: repeat(2,1fr);
   
    }
  }
  
  /* Medium devices (laptops, small desktops) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    /* Styles for laptops and small desktops */
    .parenDivOfEachStudentTable{
        grid-template-columns: repeat(1,1fr);
     }
     .assignmentInputmaindiv{
        margin: auto;
              grid-template-columns: repeat(3,1fr);
            
          }
          .eachCardParentDiv{
   
            grid-template-columns: repeat(3,1fr);
         
          }
  }
  
  /* Large devices (desktops) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    /* Styles for desktops */
    .parenDivOfEachStudentTable{
        grid-template-columns: repeat(2,1fr);
     }
     .eachCardParentDiv{
   
      grid-template-columns: repeat(4,1fr);
   
    }
  }
  
  /* Extra large devices (large desktops) */
  @media (min-width: 1200px) {
    .parenDivOfEachStudentTable{
        grid-template-columns: repeat(2,1fr);
     }
    /* Styles for large desktops */
    .eachCardParentDiv{
   
      grid-template-columns: repeat(4,1fr);
   
    }
  }
  