.form-container {
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    padding: 24px;
    border-radius: 8px;

  }
  
  .transport-switch {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
  }
  
  .animate__animated {
    animation-duration: 0.5s;
  }
  
  .submit-button {
    text-align: center;
    margin-top: 16px;
  }
  .ant-form-item-label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  /* Style for the input fields */
  .ant-input {
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    padding: 8px;
  }
  
  /* Style for the Select component */
  .ant-select-selector {
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    padding: 8px;
  }
  

  .ant-switch-handle {
    width: 16px;
    height: 16px;
  }
  
  /* Style for the submit button */
  .submit-button button {
    border-radius: 4px;
    /* padding: 12px 24px; */
  }
  
  /* Optional: Add animation to the form elements */
  .animate__fadeInUp {
    animation-name: fadeInUp;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }